@import './main.scss';

ul {
    display: flex;
    gap: 57px;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: $third-color;
            @include text-nav-footer-large()
        }

        .active {
            text-decoration: underline;
        }
    }
}